In [1]:
%config Completer.use_jedi = False

In [2]:
import pandas as pd

In [3]:
# Caminhos dos diretórios raiz                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
# general_path = 'C:/Users/cnalm/OneDrive/Hidroweb'    # Caminho do projeto (Cristiano)
# general_path = 'D:/Dados_Nuvem/OneDrive/Hidroweb'   # Colocar aqui o caminho de Filipe
general_path = 'C:/Users/linde/OneDrive/Hidroweb'   # Colocar aqui o caminho de Lindemberg

### Reading hdf files ###

In [14]:
df_p = pd.read_hdf(general_path + '/Consolidated Files/BRASIL_Q1.h5')
df_p.reset_index(drop = True, inplace = True)

In [15]:
df_p

            Code  Year  Availability
0       00047000  1958      0.832877
1       00047000  1959      0.917808
2       00047000  1960      0.918033
3       00047000  1961      0.246575
4       00047000  1962      0.586301
...          ...   ...           ...
404525  08560000  1992      0.773224
404526  08560000  1993      1.000000
404527  08560000  1994      1.000000
404528  08560000  1995      0.994521
404529  08560000  1996      0.163934

[404530 rows x 3 columns]

In [19]:
df_p_2 = df_p[(df_p['Code'] == '00047000')]
df_p_2

       Code  Year  Availability
0  00047000  1958      0.832877
1  00047000  1959      0.917808
2  00047000  1960      0.918033
3  00047000  1961      0.246575
4  00047000  1962      0.586301
5  00047000  1963      0.915068
6  00047000  1964      0.833333