In [1]:
%config Completer.use_jedi = False

In [1]:
import pandas as pd
import glob

In [2]:
# Caminhos dos diretórios raiz                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
# general_path = 'C:/Users/cnalm/OneDrive/Hidroweb'    # Caminho do projeto (Cristiano)
general_path = 'D:/Dados_Nuvem/OneDrive/Hidroweb'   # Colocar aqui o caminho de Filipe
#general_path = 'C:/Users/linde/OneDrive/Hidroweb'   # Colocar aqui o caminho de Lindemberg

### Reading hdf files ###

In [3]:
all_files = glob.glob(general_path + '/Temp/*.h5')
count = 0
for filename in all_files:
    df = pd.read_hdf(filename)
    if count == 0:
        df_total = df.copy(deep = True)
    else:
        df_total = pd.concat([df_total, df], ignore_index = True)
    count = count + 1
    print("File", count, "|", filename)
print(count, "files are loaded")

File 1 | D:/Dados_Nuvem/OneDrive/Hidroweb/Temp\BRASIL_RAW_SUMMARY_0.h5
File 2 | D:/Dados_Nuvem/OneDrive/Hidroweb/Temp\BRASIL_RAW_SUMMARY_1.h5
File 3 | D:/Dados_Nuvem/OneDrive/Hidroweb/Temp\BRASIL_RAW_SUMMARY_2.h5
File 4 | D:/Dados_Nuvem/OneDrive/Hidroweb/Temp\BRASIL_RAW_SUMMARY_3.h5
File 5 | D:/Dados_Nuvem/OneDrive/Hidroweb/Temp\BRASIL_RAW_SUMMARY_4.h5
File 6 | D:/Dados_Nuvem/OneDrive/Hidroweb/Temp\BRASIL_RAW_SUMMARY_5.h5
File 7 | D:/Dados_Nuvem/OneDrive/Hidroweb/Temp\BRASIL_RAW_SUMMARY_6.h5
File 8 | D:/Dados_Nuvem/OneDrive/Hidroweb/Temp\BRASIL_RAW_SUMMARY_7.h5
File 9 | D:/Dados_Nuvem/OneDrive/Hidroweb/Temp\BRASIL_RAW_SUMMARY_8.h5
File 10 | D:/Dados_Nuvem/OneDrive/Hidroweb/Temp\BRASIL_RAW_SUMMARY_9.h5
10 files are loaded

In [4]:
for year in range(2010, 2021):
    df_temp = df_total[df_total['Year'] == year]
    df_temp.to_hdf('D:\\dados_HDF\\RHN\\bruto_ano\\RHN_'+ str(year)+'.h5', key='data', complevel=9
              , complib='zlib')
    print(year)

2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020

In [5]:
teste = pd.read_hdf('D:\\dados_HDF\\RHN\\bruto_ano\\RHN_'+ str(year)+'.h5')
teste

,Date,Value,Code,Year,Name,City,State,Responsible,Latitude,Longitude
16556,2020-01-01,4.6,00047002,2020,SALINÓPOLIS,SALINÓPOLIS,PARÁ,ANA,-0.6231,-47.3536
16557,2020-01-02,8.9,00047002,2020,SALINÓPOLIS,SALINÓPOLIS,PARÁ,ANA,-0.6231,-47.3536
16558,2020-01-03,0.0,00047002,2020,SALINÓPOLIS,SALINÓPOLIS,PARÁ,ANA,-0.6231,-47.3536
16559,2020-01-04,0.0,00047002,2020,SALINÓPOLIS,SALINÓPOLIS,PARÁ,ANA,-0.6231,-47.3536
16560,2020-01-05,57.1,00047002,2020,SALINÓPOLIS,SALINÓPOLIS,PARÁ,ANA,-0.6231,-47.3536
...,...,...,...,...,...,...,...,...,...,...
128927319,2020-12-27,0.0,08461000,2020,NOVA ESPERANÇA/MARCO BV-8,PACARAIMA,RORAIMA,ANA,4.4883,-61.1297
128927320,2020-12-28,0.3,08461000,2020,NOVA ESPERANÇA/MARCO BV-8,PACARAIMA,RORAIMA,ANA,4.4883,-61.1297
128927321,2020-12-29,0.2,08461000,2020,NOVA ESPERANÇA/MARCO BV-8,PACARAIMA,RORAIMA,ANA,4.4883,-61.1297
128927322,2020-12-30,0.0,08461000,2020,NOVA ESPERANÇA/MARCO BV-8,PACARAIMA,RORAIMA,ANA,4.4883,-61.1297
128927323,2020-12-31,8.6,08461000,2020,NOVA ESPERANÇA/MARCO BV-8,PACARAIMA,RORAIMA,ANA,4.4883,-61.1297

In [19]:
str(year)+'.h5'

'2020.h5'

In [ ]:
df_save.to_hdf('D:\\dados_HDF\\RHN\\bruto_ano\\'+ str(year)+'.h5', key='data', complevel=9
              , complib='zlib')

In [1]:
df_total.head(5)

NameError: name 'df_total' is not defined

In [15]:
year = 2020

In [18]:
len(df_total.Code.unique())

3357

In [24]:
df_total

Empty DataFrame
Columns: [Date, Value, Code, Year, Name, City, State, Responsible, Latitude, Longitude]
Index: []

In [23]:
df_total = df_total[df_total['Year'] == year]
df_total

Empty DataFrame
Columns: [Date, Value, Code, Year, Name, City, State, Responsible, Latitude, Longitude]
Index: []