In [19]:
%config Completer.use_jedi = False

In [20]:
import pandas as pd
from datetime import datetime
import glob

In [21]:
# Caminhos dos diretórios raiz
# general_path = 'C:/Users/cnalm/OneDrive/Hidroweb'
# general_path = 'D:/Dados_Nuvem/OneDrive/Hidroweb'
general_path = 'C:/Users/linde/OneDrive/Hidroweb'
idw_path = general_path + '/Consolidated Files/NetCDF/IDW/'
print(idw_path)

C:/Users/linde/OneDrive/Hidroweb/Consolidated Files/NetCDF/IDW/

In [22]:
all_files = glob.glob(idw_path + "*.nc")
total_length = len(all_files)
count = 0
date_list_processed = []
for filename in all_files:
    date_processed = datetime.strptime(filename[-13:-3], "%Y-%m-%d").date()
    date_list_processed.append(date_processed)
df_date_list_processed = pd.DataFrame(date_list_processed, columns=['Date'])
df_date_list_processed['Date'] = pd.to_datetime(df_date_list_processed['Date'])
df_date_list_processed['Flag'] = 1
df_date_list_processed

            Date  Flag
0     1961-01-01     1
1     1961-01-02     1
2     1961-01-03     1
3     1961-01-04     1
4     1961-01-05     1
...          ...   ...
21910 2020-12-27     1
21911 2020-12-28     1
21912 2020-12-29     1
21913 2020-12-30     1
21914 2020-12-31     1

[21915 rows x 2 columns]

In [23]:
# Generate a date range
start_date = "1961-01-01"
end_date = "2020-12-31"
date_range = pd.date_range(start=start_date, end=end_date, freq='D')

# Create a DataFrame with the date range
df_date_range = pd.DataFrame({'Date': date_range})
df_date_range['Date'] = pd.to_datetime(df_date_range['Date'])
# Display the DataFrame
df_date_range.dtypes

Date    datetime64[ns]
dtype: object

In [24]:
df_merge = pd.merge(df_date_range, df_date_list_processed, how='left', on='Date')
df_merge = df_merge[df_merge['Flag'] != 1.0]
df_merge

Empty DataFrame
Columns: [Date, Flag]
Index: []