HDF5 for Python: https://docs.h5py.org/en/stable/
<br>Pandas HDFStore: https://pandas.pydata.org/pandas-docs/stable/reference/io.html?highlight=hdfstore#hdfstore-pytables-hdf5
<br>Compression (Additional Topic): https://www.youtube.com/watch?v=FfkLFQR_nbc

In [1]:
import numpy as np
import h5py
import pandas as pd

In [3]:
filepath = './1 - Organized data gauge/BRAZIL/DATASETS/BRAZIL_DAILY_1961_2024_QC.h5'

In [4]:
#lendo um arquivo com mode = 'r' de reading, com fechamento automático
with h5py.File(filepath, mode = 'r') as hdf:
    ls = list(hdf.keys())
    print('Key List:\n', ls,'\n')

Key List:
 ['table_crossvalidation', 'table_data', 'table_grid', 'table_info']

In [12]:
df_info = pd.read_hdf(filepath, key='table_info').reset_index(drop = True)
df_info

,name_station,gauge_code,city,state,responsible,source,state_abbreviation,lat,long
0,SANTA RITA DO PARDO | S716,S716,SANTA RITA DO PARDO,MATO GROSSO DO SUL,INMET,INMET,MS,-21.305889,-52.820375
1,RIBAS DO RIO PARDO | S715,S715,RIBAS DO RIO PARDO,MATO GROSSO DO SUL,INMET,INMET,MS,-20.466694,-53.763028
2,PEDRO GOMES | S714,S714,PEDRO GOMES,MATO GROSSO DO SUL,INMET,INMET,MS,-18.072778,-54.548889
3,NOVA ALVORADA DO SUL | S712,S712,NOVA ALVORADA DO SUL,MATO GROSSO DO SUL,INMET,INMET,MS,-21.450972,-54.341972
4,LAGUNA CARAPA | S711,S711,LAGUNA CARAPA,MATO GROSSO DO SUL,INMET,INMET,MS,-22.575389,-55.160333
...,...,...,...,...,...,...,...,...,...
17183,MARUDA,00047005,MARAPANIM,PARÁ,ANA,HIDROWEB,PA,-0.633600,-47.658300
17184,PRIMAVERA,00047004,PRIMAVERA,PARÁ,ANA,HIDROWEB,PA,-0.929400,-47.099400
17185,CURUÇA,00047003,CURUÇA,PARÁ,ANA,HIDROWEB,PA,-0.737500,-47.853600
17186,SALINÓPOLIS,00047002,SALINÓPOLIS,PARÁ,ANA,HIDROWEB,PA,-0.623100,-47.353600
17187,SALINÓPOLIS,00047000,SALINÓPOLIS,PARÁ,INMET,HIDROWEB,PA,-0.650000,-47.550000

In [5]:
df_data = pd.read_hdf(filepath, key='table_data').reset_index(drop = True)
df_data

          gauge_code   datetime  rain_mm  year final_classif
0           00047000 1962-01-01      0.0  1962            HQ
1           00047000 1962-01-02      0.0  1962            HQ
2           00047000 1962-01-03      0.0  1962            HQ
3           00047000 1962-01-04      0.0  1962            HQ
4           00047000 1962-01-05      0.0  1962            HQ
...              ...        ...      ...   ...           ...
107414663       S716 2021-12-27      0.0  2021            HQ
107414664       S716 2021-12-28      0.0  2021            HQ
107414665       S716 2021-12-29      0.0  2021            HQ
107414666       S716 2021-12-30      4.4  2021            HQ
107414667       S716 2021-12-31      3.2  2021            HQ

[107414668 rows x 5 columns]

In [6]:
df_cv = pd.read_hdf(filepath, key='table_crossvalidation')
df_cv

      gauge_code   datetime  interpolated_rain_mm  rain_mm
0       00048000 1961-01-01                   0.0      0.0
1       02150059 1961-01-01                   2.5      1.0
2       02150061 1961-01-01                  10.2      0.0
3       01744010 1961-01-01                   6.8     12.4
4       02554001 1961-01-01                   0.0      0.0
...          ...        ...                   ...      ...
4624        A563 2024-12-31                  15.9      7.8
4625    75900000 2024-12-31                   0.0      0.0
4626    14530000 2024-12-31                   0.0      0.0
4627  314530701A 2024-12-31                   1.1      1.6
4628    66420000 2024-12-31                   0.2      0.2

[107414668 rows x 4 columns]

In [7]:
df_grid = pd.read_hdf(filepath, key='table_grid')
df_grid

          lat   long
0      -33.65 -53.45
1      -33.65 -53.35
2      -33.65 -53.25
3      -33.55 -53.45
4      -33.55 -53.35
...       ...    ...
169211   5.05 -60.05
169212   5.15 -60.05
169213   5.35 -60.15
169214   5.35 -60.35
169215   5.35 -60.25

[169216 rows x 2 columns]